<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <title>employMe</title>
</head>

<body>
    <div class="main">
        <div class="box">
            <div class="button-box">
                <div id="button"></div>
                <button type="button" class="toggle-button" onclick="login()">LOGIN</button>

                <button type="button" class="toggle-button" onclick="signUp()">SIGN UP</button>
            </div>
            <form id="login" class="input-group" onclick="login">
                <input type="text" class="input-field" placeholder="Username" required />
                <input type="password" class="input-field" placeholder="Password" required />
                <span> Employee? Let us know </span>

                <input type="checkbox" class="check-box" />
                <button type="submit" class="submit-button">LOGIN</button>
            </form>

            <!-- <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="Username" required />
                <input type="text" class="input-field" placeholder="Email" required />
                <input type="password" class="input-field" placeholder="Password" required />
                <input type="checkbox" class="check-box" />
                <span> I work for you guys! </span>
                <button type="submit" class="submit-button">GET HIRED!</button>
            </form> -->
        </div>
    </div>
    <script>
        let x = document.getElementById("login");
        let y = document.getElementById("signUp");
        let z = document.getElementbyId('button');

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "110px";
        }
    </script>
</body>

</html>